<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h2 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h2>
      <!--<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      {% if site.github.is_project_page %}
        <!--<a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
      {% endif %}
      {% if site.show_downloads %}
        <!--<a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>-->
        <!--<a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>-->
        <!--<a href="{{ site.another-page.html }}" class="btn">quien</a>-->

      <a href="https://fundacionsanvicentepallotti.github.io/cayman/" class="btn">HOME</a>
      <a href="https://fundacionsanvicentepallotti.github.io/cayman/quienes-somos.html" class="btn">Quienes Somos</a>
      <a href="https://fundacionsanvicentepallotti.github.io/cayman/programas.html" class="btn">Programas</a>
      <a href="https://fundacionsanvicentepallotti.github.io/cayman/galeria.html" class="btn">Galeria</a>
      <a href="https://fundacionsanvicentepallotti.github.io/cayman/donaciones.html" class="btn">Donaciones</a>


      
      {% endif %}
    </header>
    
    <main id="content" class="main-content" role="main">



<div class="container text-center">
  <div class="row">
    <div class="col">
<!--una card-->
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!--una card-->
     
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>





      
      
      {{ content }}

      <footer class="site-footer">



<div class="container text-center">
  <div class="row">
    <div class="col">

<ul class="list-group">
<li><img src="https://fundacionsanvicentepallotti.github.io/images/UAC-Venezuela.png" alt="aaa" /></li>
<li><a href="https://ideoeduardo.github.io/fsvp-el-apostol/"><img src="https://fundacionsanvicentepallotti.github.io/images/rev-el-apostol.png" alt="El Apóstol" /></a></li>
<li><img src="https://fundacionsanvicentepallotti.github.io/images/coromotanos.png" alt="aaa" /></li>
<li><img src="https://fundacionsanvicentepallotti.github.io/images/los-chamos-hablan.png" alt="aaa" /></li>
</ul>

      
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>



        

        
        <!--{% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}-->
        <!--<span class="site-footer-credits">This page was generated by <a href="#">GitHub Pages</a>.</span>-->
        <span class="site-footer-credits">Av. Las Aves con Av. Los Roques, Iglesia Asunción de María,<br> Urb Las Islas (Villa Panamericana). Guarenas, Edo. Miranda. Venezuela Telf: +58 412 905 98 17</span>
      </footer>
    </main>
  </body>
</html>
